<h1>Exercice 1</h1>
<!--Déclaration de la variable number-->
<p ng-scope="number">{{number}}</p>
<!--sur la directive ng-click du bouton -, number est égale à number-1-->
<button ng-click="number = number-1" type="button" name="minus">-</button>
<!--sur la directive ng-click du bouton +, number est égale à number+1-->
<button ng-click="number = number+1" type="button" name="plus">+</button>
        
<!-- Correction avec ng-init
    <div class="div_count" ng-init="count=0">
      Au clic sur le bouton - on enlève 1 à la variable count, au clic sur + on ajoute 1 -->
      <!-- <button ng-click="count = count - 1">-</button>
      <p>{{count}}</p>
      <button ng-click="count = count + 1">+</button>
    </div>-->