<h1>Exercice 5</h1>
<!-- Le paragraphe à afficher avec la directive ng-show-->
<p ng-show="show">Le bleu russe ou russe est une race de chats aux origines controversées et usuellement considérée comme une race naturelle apparue dans les pays froids comme la Russie ou les pays scandinaves. Les premiers individus sont présentés en exposition féline dès le milieu du XIXe siècle en Angleterre, d'où il s'est répandu dans le monde entier. Au bord de l'extinction après la Seconde Guerre mondiale, le bleu russe renaît de croisements avec des siamois ou des chats de gouttière bleu. Les années 1950 à 1960 voient de nombreux efforts pour homogénéiser le type du bleu russe, dont la morphologie varie d'un bord à l'autre de l'Atlantique. De nouvelles variétés de couleurs sont introduites à la fin du XXe siècle.</p>
<!-- sur la directive ng-click, si elle s'avère vraie, la variable show apparait-->
<button type="button" name="show" ng-click="show = true">Gérard Majax !</button>
<!-- sur la directive ng-click, si elle s'avère fausse, la variable show apparait-->
<button type="button" name="hide" ng-click="show = false">Cacher</button>
<br>
<h2>Exercice 5</h2>
<!-- Le paragraphe à afficher avec la directive ng-show-->
<p ng-show="showin">Le bleu russe ou russe est une race de chats aux origines controversées et usuellement considérée comme une race naturelle apparue dans les pays froids comme la Russie ou les pays scandinaves. Les premiers individus sont présentés en exposition féline dès le milieu du XIXe siècle en Angleterre, d'où il s'est répandu dans le monde entier. Au bord de l'extinction après la Seconde Guerre mondiale, le bleu russe renaît de croisements avec des siamois ou des chats de gouttière bleu. Les années 1950 à 1960 voient de nombreux efforts pour homogénéiser le type du bleu russe, dont la morphologie varie d'un bord à l'autre de l'Atlantique. De nouvelles variétés de couleurs sont introduites à la fin du XXe siècle.</p>
<!-- sur chaque clique de la directive ng-click, la variable showin apparait et disparait-->
<button type="button" name="show" ng-click="showin = !showin">Apparition/Disparition</button>
