<h1>Exercice 2</h1>
<form>
    <input ng-model="query" type="text" name="search" value="" placeholder="voiture"/>
</form>
<button ng-click="search()" type="button" name="search">Chercher</button>
<!-- directive repeat pour répeter les informations dans une succession de div similaire -->
<div ng-repeat="car in cars"> 
    <h2>Voiture</h2>
    <!-- affiche la marque de la variable recups qui a récupéré les informations du tableau-->
    <p>{{car.marque}}</p>
    <!-- affiche la couleur de la variable recups qui a récupéré les informations du tableau-->
    <p>{{car.couleur}}</p>
</div>